<footer class="footer-6 footer-dark">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-5">
				<div><a class="brand" href="#">BSY</a></div>
				<p>Hovedformålet til BSY er å være en interessegruppe for kvalitetssikring innen systeminnredning; en felles, faglig og nøytralt instans som alle parter i en byggesak vil dra nytte av. BSY representerer firmaer som produserer, leverer, selger og monterer
					systeminnredninger og tilhørende komponenter.</p>
			</div>
			<nav>
				<div class="col-sm-6 col-md-3 col-md-offset-1">
					<h6>Kontaktinformasjon</h6>
					<ul>
						<li>
							<a href="https://www.google.no/maps/dir//Baker+%C3%98stbys+vei+21,+1351+Rud/@59.9065555,10.4956988,17z/data=!4m13!1m4!3m3!1s0x4641137508b484ef:0x319bcc5547874476!2sBaker+%C3%98stbys+vei+21,+1351+Rud!3b1!4m7!1m0!1m5!1m1!1s0x4641137508b484ef:0x319bcc5547874476!2m2!1d10.4978928!2d59.9065555?hl=en"
											title="Få veibeskrivelse i Google Maps" target="_blank"><i class="fa fa-map-marker"></i> Baker Østbys vei 21, 1351 Rud</a>
						</li>
						<li><i class="fa fa-phone"></i> +47 67 17 02 00</li>
						<li><a href="/kotaktoss" title="Send oss en melding"><i class="fa fa-paper-plane"></i> info@bsy.no</a></li>
						<li><i class="fa fa-mobile"></i> +47 901 41 617</li>
						<li><i class="fa fa-clock-o"></i> Man – Fre: 09:00 – 15:00</li>
					</ul>
				</div>
				<div class=" col-sm-6 col-md-3">
					<h6>Anbefalt lesing</h6>
					<ul>
						<li><a href="/ombsy/styret/">Styret i BSY</a></li>
						<li><a href="/ombsy/hvavigjor/">Hva vi gjør</a></li>
						<li><a href="/inspirasjon/">Inspirasjon</a></li>
						<!--<li><a href="/entrepreneurs">Entrepenører</a></li> -->
						<!--<li><a href="/entrepreneurs">Leverandører</a></li> -->
						<li><a href="/prosjekteringsveiledning/">Prosjekteringsveiledning <span class="label label-small label-primary">Nå Online</span></a></li>
					</ul>
				</div>
			</nav>
		</div>
	</div>
</footer>
<footer class="footer-2 footer-darkest">
	<div class="container">
		<div class="row">
			<div class="col-sm-12 col-md-6 pull-right">
				<nav>
					<ul>
						<li><a href="/">Startsiden</a></li>
						<li><a href="/ombsy/">Om oss</a></li>
						<li><a href="/inspirasjon/">Inspirasjon</a></li>
						<li><a href="/prosjekteringsveiledning/">Prosjekteringsveiledning</a></li>
						<li><a href="/kontaktoss/">Kontakt oss</a></li>
						<!--<li><a href="/login">Medlemssider</a></li> -->
					</ul>
				</nav>
			</div>
			<div class="additional-links col-sm-12 col-md-6">
				<i class="fa fa-copyright"></i> 1991 - <span class="thisYear">now</span> BSY. Med enerett.
				<div class="github">
					<a href="//creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank" rel="author" title="Utviklet på åpen kildekode.">
						<i class="fa fa-github"></i>
					</a>
				</div>
				<div class="site-author">
					<a href="http://www.kungfumedia.no/" target="_blank" rel="author" title="Levert av KFM">
						<i class="fa fa-code"></i>
						<i class="fa fa-wordpress"></i>
						<i class="fa fa-heart"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>
