<div class="col-sm-3">
	<div class="row">
		<div class="col-sm-12">
			<!-- partial:_nav-about.html -->
			<!-- partial -->
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<ul class="sidebar buttons small" style="margin-bottom: 108px;">
				<li>
					<a href="/prosjekteringsveiledning" class="btn sidebar left btn-danger btn-outline">
																		Prosjekteringsveiledning
																</a>
				</li>
			</ul>
		</div>
	</div>

	<div class="row">
		<div class="col-sm-12">
			<ul class="sidebar list-bricks management links small">
				<h4>Kontaktinfo</h4>
				<a href="//www.google.no/maps/dir//Baker+%C3%98stbys+vei+21,+1351+Rud/@59.9065555,10.4957041,17z/data=!4m13!1m4!3m3!1s0x4641137508b484ef:0x319bcc5547874476!2sBaker+%C3%98stbys+vei+21,+1351+Rud!3b1!4m7!1m0!1m5!1m1!1s0x4641137508b484ef:0x319bcc5547874476!2m2!1d10.4978928!2d59.9065555"
								target="_blank" title="Åpne i Google Maps">
					<li class="nav-header"><i class="fa fa-map-marker"></i> Adresse</li>
					<li>
						Baker Østbys vei 21, 1351 Rud
					</li>
					</a>
					<li class="nav-header"><i class="fa fa-phone"></i> Telefon</li>
					<li>
						+47 67 17 02 00
					</li>
					<a href="/kontaktoss" id="sendMail" title="Send oss en melding">
						<li class="nav-header"><i class="fa fa-paper-plane"></i> E-post</li>
						<li>
							info@bsy.no
						</li>
					</a>
					<li class="nav-header"><i class="fa fa-mobile"></i> Mobiltelefon</li>
					<li>
						+47 901 41 617
					</li>
					<li class="nav-header"><i class="fa fa-clock-o"></i> Kontortid</li>
					<li>
						Man – Fre: 09:00 – 15:00
					</li>
			</ul>
		</div>
	</div>
</div>
